python-dotenv
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-lemonslice
edge-tts
deep-translator
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-text-splitters
chromadb
transformers==4.46.3
scipy
numpy<2
einops
sentencepiece
sentence-transformers
langchain-huggingface
