python-dotenv
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-lemonslice
edge-tts
deep-translator
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-text-splitters
chromadb
transformers
torch
scipy
numpy
sentence-transformers
langchain-huggingface
